<nav class="navbar navbar-expand-lg navbar-dark bg-dark titlebar">
  <a class="navbar-brand pagetitle" href="#">THE SUPER BATTLE OF THE SEXES</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
    aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
</nav>

<div class="container players">
  <div class="row">
    <div class="col-5 players">
      <h1 class="play">Player 1 -
        <i class="fas fa-venus"></i>
      </h1>
    </div>
    <div class="col-2 players">
      <h1 class="play">vs.</h1>
    </div>
    <div class="col-5 players">
      <h1 class="play">
        <i class="fas fa-mars"></i> - Player 2</h1>
    </div>
  </div>
</div>

<!-- swear buttons-->
<!--

<div class="container swearfour">
  <div class="row swear">
    <div class="col-1 pops">
      <button type="button" class="btn btn-secondary grosmots" data-container="body" data-toggle="popover" data-placement="right"
        data-content="W.T.F.">
        Swear
      </button>

      <button type="button" class="btn btn-secondary grosmots" data-container="body" data-toggle="popover" data-placement="right"
        data-content="You, redneck!">
        Swear
      </button>
      <button type="button" class="btn btn-secondary grosmots" data-container="body" data-toggle="popover" data-placement="right"
        data-content="Get lost!">
        Swear
      </button>
      <button type="button" class="btn btn-secondary grosmots" data-container="body" data-toggle="popover" data-placement="right"
        data-content="Mother flower!">
        Swear
      </button>
    </div>
  </div>


  <div class="row swear2">
    <div class="col-1 pops">
      <button type="button" class="btn btn-secondary grosmotss" data-container="body" data-toggle="popover" data-placement="left"
        data-content="Fuck off, you Cow!">
        Swear
      </button>
      <button type="button" class="btn btn-secondary grosmotss" data-container="body" data-toggle="popover" data-placement="left"
        data-content="What the hell ?">
        Swear
      </button>
      <button type="button" class="btn btn-secondary grosmotss" data-container="body" data-toggle="popover" data-placement="left"
        data-content="">
        Swear
      </button>
      <button type="button" class="btn btn-secondary grosmotss" data-container="body" data-toggle="popover" data-placement="left"
        data-content="">
        Swear
      </button>
      <button type="button" class="btn btn-secondary grosmotss" (click)="openModal()">
        Swear
      </button>
    </div>

  </div> -->

<!-- the players battling-->
<!--<ng-template #content1 let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Modal title</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>One fine body&hellip;</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="c('Close click')">Close</button>
  </div>
</ng-template> -->

<!-- life force bar -->
 <!--<div class="container-fluid">
    <div class="row lifebars">
      <div class="col-5 offset-1">
        <input class='bars' id='healthBar' type='text' value='100' disabled />
      </div>
      <div class="col-5">
        <input class='barsmen' id='healthBar' type='text' value='100' disabled />
      </div>
    </div>
  </div>-->

<div class="container womenchoices">
  <div class="row justwomen">
    <div class="col-1" *ngFor="let hero of selectedHero; let i = index">
      <!-- <div *ngIf="hero && !isWomanSelected() || hero.selected"> -->
      <img class="img-fluid" class="selectedLeft" src="{{hero.images.sm}}">
      <p class="namestitle">{{hero.name}} </p>
      <input class='barsmen' id='healthBar' type='text' [value]='hero.life' disabled />
      <div class="row">
        <div class="col-1 pops">

          <!-- <button type="button" class="btn btn-secondary grosmotss" data-container="body" data-toggle="popover" data-placement="left"
            data-content="">
            Swear
          </button> -->
          <!-- <button type="button" class="btn btn-secondary grosmotss" data-container="body" data-toggle="popover" data-placement="left"
            data-content="">
            Swear
          </button> -->
          <button type="button" class="btn btn-secondary onlybutton" (click)="attack(i)">
            Attack
          </button>
          <button type="button" class="btn btn-secondary onlybutton" (click)="superAttack(i)">
              super attack
            </button>

          <!--<button type="button" class="btn btn-secondary grosmotss" (click)="openModal()">
            Swear
          </button> -->
        </div>

      </div>
      <!-- </div> -->
    </div>


    <!-- choose an avatar-->
    <div class="container womenchoices">
      <div class="row justwomen">
        <div class="col-1" *ngFor="let hero of womenHeroes">
          <!-- <div *ngIf="hero && !hero.selected && !sWomanSelected()"> -->

          <div *ngIf="hero && !isWomanSelected() && !selectedHero[0]">
            <img class="img-fluid" src="{{hero.images.sm}}" alt="{{hero.name}}" (click)="selectHero(hero)">
            <!-- <img class="img-fluid" [ngClass]="{'selectedLeft': hero.selected}" src="{{hero.images.sm}}" alt="{{hero.name}}" (click)="selectHero(hero)"> -->
            <p class="namestitle">{{hero.name}} </p>
            <!-- <input class='barsmen' id='healthBar' type='text' value='100' disabled /> -->
          </div>
        </div>


        <div class="col-1" *ngFor="let hero of menHeroes">
          <!-- <div *ngIf="hero && !hero.selected && !isManSelected()"> -->
          <div *ngIf="hero && !isManSelected() && !selectedHero[1]">
            <img class="img-fluid" src="{{hero.images.sm}}" alt="{{hero.name}}" (click)="selectHero(hero)">
            <!-- <img class="img-fluid" [ngClass]="{'selectedRight': hero.selected}" src="{{hero.images.sm}}" alt="{{hero.name}}" (click)="selectHero(hero)"> -->
            <p class="namestitle">{{hero.name}} </p>
          </div>
        </div>
      </div>
    </div>

